.content{
  &-left{
    height: 100vh;
    &-header{
      height: 50px;
      font-size: 16px;
    }
  }
  &-right{
    height: 100vh;
    &-header{
      height: 50px;
      width: 100%;
    }
    &-body{
      height: calc( 100% - 50px ) ;
    }
  }
}